@import "tailwindcss";


.inter {
  font-family: "Inter", sans-serif;
}

.form-check-input:checked {
  background-color: #4731D3 !important;
  border-color: #4731D3 !important;
}

.form-switch .form-check-input:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ffe86e'/%3e%3c/svg%3e");
}

body {
  font-family: 'Inter', sans-serif !important;
}


a {
  text-decoration: none !important;
}

.nav-bar-links {
  color: #6B7280;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
}

.nav-bar-links-2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  border-radius: 6px;
  border-width: 1px;
  padding-top: 12px;
  padding-right: 32px;
  padding-bottom: 12px;
  padding-left: 32px;
  color: #3730A3;
  border-color: #3730A3;
  
}
.nav-bar-links-3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  border-radius: 6px;
  border-width: 1px;
  padding-top: 12px;
  padding-right: 32px;
  padding-bottom: 12px;
  padding-left: 32px;
  color: white;
  border-color: #3730A3;
  background-color: #3730A3;
  
}

h2 {
  color:#4338CA !important;
}

p {
  color: #6B7280;
}
hr {
  color: #3730A3 !important;
}

h1{
  font-size:48px !important;
}

.props{
  border: 2px solid #3730A3;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 18px;
  padding-left: 18px;
  border-radius: 8px;
}

.a2 {
  text-decoration-line: underline !important;
  color: #3730A3 !important;
  font-weight: 600 !important;
}